<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.8/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
</html>
<body>
    <div class="ui container">
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">
                    <strong><i class="code icon"></i></strong>
                    Doggie Bloggy</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Blog</a>
            </div>
        </div>
    </div>